body {
    margin: 0;
}

main {
    display: flex;
    height: 100vh;
    background: #101010;
    justify-content: center;
    align-items: center;
}

p#output {
    font-family: monospace;
    font-size: 60px;
    font-weight: bolder;
    word-spacing: 20px;
    border: 1px solid black;
    color: green;
    padding: 10px;
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
    background-color: #888888;
}

footer {
    height: 20vh;
    border-top: 1px solid black;
    margin: 0;
    background: black;
}

footer p {
    display: inline-block;
    margin: 0;
    padding-left: 15px;
    position: relative;
    top: 45%;
    font-size: 20px;
    font-weight: bold;
    font-family: "Times New Roman";
    color: green;
}
